name: Links

on:
    repository_dispatch:
    workflow_dispatch:
    schedule:
        - cron: "0 12 * * 1"

jobs:
    linkChecker:
        runs-on: ubuntu-latest
        permissions:
            issues: write
        steps:
            - uses: actions/checkout@v4

            - name: Link Checker
              id: lychee
              uses: lycheeverse/lychee-action@v3
              with:
                  fail: false
                  args: --scheme http,https,mailto --exclude "%sveltekit.assets%" --format markdown --output ./lychee/out.md

            - name: Create Issue From File
              if: steps.lychee.outputs.exit_code != 0
              uses: peter-evans/create-issue-from-file@v5
              with:
                  title: Link checker
                  content-filepath: ./lychee/out.md
                  labels: report, automated issue
